<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/me.css}">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <title>分类管理</title>
</head>
<body>



<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-opacity-tiny ">
    <div class="ui container">
        <div class="ui inverted stackable secondary menu">
            <a href="#"><h2 class="ui teal header item">管理后台</h2></a>
            <a th:href="@{/admin/blogs/1}" class="m-item item m-mobile-hide"><i class="mini home icon"></i>&nbsp 博客</a>
            <a th:href="@{/admin/types/1}" class="active orange m-item item m-mobile-hide"><i class="mini idea icon"></i>&nbsp分类</a>
            <a th:href="@{/admin/tags/1}" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>&nbsp 标签</a>

            <div class="ui inverted horizontal m-item m-mobile-hide right menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://picsum.photos/id/0/100/100" class="ui avatar image">
                        刘志文
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-mobile-show m-top-right">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--<div class="ui  attached menu">
    <div class="ui right aligned container">
        <div class="right menu">
            <a href="#" class="item">发布</a>
            <a href="#" class="active teal item">列表</a>
        </div>

    </div>

</div>-->
<br>
<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div id="success" class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">恭喜，操作成功</p>
        </div>

        <table class="ui compact  grey celled selectable  table">
            <thead >
            <tr class="center aligned">
                <th></th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="type,item:${pageInfo.list}" class="center aligned">
                <td th:text="${item.count}">1</td>
                <td th:text="${type.name}">可以练习</td>
                <td>
                    <a th:href="@{/admin/types/update/{id}(id=${type.id})}" class="ui teal mini button">修改</a>
                    <a th:href="@{/admin/types/delete/{id}/{pageNum}(id=${type.id},pageNum=${pageInfo.pageNum})}" class="ui mini red button">删除</a>
                </td>
            </tr>
            </tbody>


            <tfoot>
            <tr>

                <th colspan="6" class="center aligned">
                    <div class="ui mini pagination menu">
                        <a href="" class="item">第 &nbsp<span th:text="${pageInfo.pageNum}" style="color: orange;font-size: 15px">5</span>&nbsp页 </a>
                        <a th:href="@{/admin/types/{pageNum}(pageNum=${pageInfo.pageNum}-1)}" class="item">上一页</a>
                        <a th:href="@{/admin/types/{pageNum}(pageNum=${pageInfo.pageNum}+1)}"  class="item">下一页</a>
                        <a href="" class="item">共 &nbsp<span th:text="${pageInfo.pages}" style="color: orange;font-size: 15px">5</span>&nbsp页 </a>
                    </div>
                    <a th:href="@{/admin/types/add}" class="ui mini right floated teal basic button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<br>
<br>





<!--底部-->
<footer class="ui inverted vertical segment m-padded-tb-small m-opacity-tiny">
    <div class="ui center aligned container">
        <div class="ui inverted divided grid">

            <div class="six wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item"><i class="envelope icon"></i>&nbsp&nbsp&nbsp:&nbsp&nbsp&nbsplhhh_dp@163.com</a>
                    <a href="#" class="item"><i class="wechat icon"></i>&nbsp&nbsp&nbsp:&nbsp&nbsp&nbsp 552176426</a>
                </div>
            </div>
            <div class="ten wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
                <div class="ui inverted link list">
                    <p class="item m-text-thin m-text-spaced m-opacity-mini">
                        这是我的个人博客，会分享关于编程、写作、思考相关的任何内容，希望可以给到这儿的人有所帮助...</p>

                </div>
                <span id="momk" class="m-text-thin m-text-spaced"></span>
            </div>
        </div>
        <div class="ui inverted secontion divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 - 2020 LhhhBlob Designed by Lhhh </p>
    </div>

</footer>


</body>
<!--时间-->
<script type="text/javascript">

    function NewDate(str) {
        str = str.split('-');
        var date = new Date();
        date.setUTCFullYear(str[0], str[1] - 1, str[2]);
        date.setUTCHours(0, 0, 0, 0);
        return date;
    }
    function momxc() {
        var birthDay =NewDate("2020-6-24");
        var today=new Date();
        var timeold=today.getTime()-birthDay.getTime();
        var sectimeold=timeold/1000
        var secondsold=Math.floor(sectimeold);
        var msPerDay=24*60*60*1000; var e_daysold=timeold/msPerDay;
        var daysold=Math.floor(e_daysold);
        var e_hrsold=(daysold-e_daysold)*-24;
        var hrsold=Math.floor(e_hrsold);
        var e_minsold=(hrsold-e_hrsold)*-60;
        var minsold=Math.floor((hrsold-e_hrsold)*-60); var seconds=Math.floor((minsold-e_minsold)*-60).toString();
        document.getElementById("momk").innerHTML = "本站已安全运行"+daysold+"天"+hrsold+"小时"+minsold+"分"+seconds+"秒";
        setTimeout(momxc, 1000);
    }momxc();


    $(".menu.toggle").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    })

    $(".close").click(function () {
        $("#success")[0].style.display="none";
    })
</script>
<script>
    $(".dropdown").dropdown();
    $(".selection").dropdown();
</script>
</html>